SERVICE_NAME=ecommerce-api
APP_PORT=8080
APP_ENV=local
KAFKA_TOPIC=product-events
KAFKA_GROUP_ID=ecommerce-observability
OTEL_EXPORTER_OTLP_ENDPOINT=tempo:4317
OTEL_EXPORTER_OTLP_INSECURE=true
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
